    #container{
    width: 100%;
    margin: 4rem 9rem;
    }
    #header{
    min-height: 8rem;
    background-color: green;
    margin: 1rem;
    }
    #navigation{
    min-height: 250px;
    background-color: blue;
    display: inline-block;
    margin: 12px;
    }
    #main_content{
    width: 700px;
    min-height: 350px;
    background-color: red;
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
    }
    .subcontents{
    min-height: 8em;    
    background-color: yellow;
    margin: 20px;
    }
    #advertisement{
    min-height: 100px;
    width: 660px;
    background-color: purple;
    margin: 12px;
    }


/* phone display */
@media only screen and (max-width:480px) {
    #container{
        width: 95%;
        margin-left:3em;
    }
    #header{
        width: 86%;
        margin-left:0em;
        margin-top:-1em;
    }
    #navigation{
        display: none;
    }
    #main_content{
        width: 86%;
        margin-bottom:1em;
    }
    .subcontents{
        display: inline-block;
        margin-left:3em;
        width:77%;
    }
    #advertisement{
        min-height: 6em;
        margin-left:3em;
        width:77%;
    }
}

/* tablet display */
@media only screen and (min-width:481px) and (max-width:1023px) {
    #container{
        width: 95%;
        margin-left:3em;
    }
    #header{
        width: 75%;
        margin-left:3em;
        margin-top:-1em;
    }
    #navigation{
        display: none;
    }
    #main_content{
        width: 75%;
        margin-bottom:1em;
        margin-left:3em;
    }
    .subcontents{
        display: inline-block;
        margin-left:2em;
        width:41%;
    }
    #advertisement{
        min-height: 6em;
        margin-left:2em;
        width:91%;
    }
}

/* desktop display */
@media only screen and (min-width:1024px) {
    #container{
        width: 100%;
    }
    #header{
        width: 73.5%;
        margin-left:3em;
    }
    #navigation{
        width: 15%;
        margin-left:3em;
    }
    #main_content{
        width: 56.7%;
        margin-bottom:1em;
    }
    .subcontents{
        display: inline-block;
        margin-left:1.7em;
        margin-right:-0.3em;
        width:27%;
    }
    #advertisement{
        min-height: 6em;
        margin-left:2em;
        width:89.6%;
    }
}